html,
body {
    margin: 0;
    padding: 0;
}
canvas {
    display: block;
}

#mouse-circle {
    position: absolute;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
    border: 1px solid red;

    border-radius: 50%;
    pointer-events: none;
}
